@import '../assets/css/variables.scss';

.skills.wrapper{
    padding:60px 0;
    h1{
        color:$teal-blue;
        text-transform: uppercase;
        text-align:center;
    }
    .skills-columns{
        display:grid;
        width:70%;
        margin:30px auto;
        grid-template-columns: 1fr 1fr;
        .skills-column{
            ul{
                margin:0;
                li{
                    margin-left:40px;
                    margin-bottom:10px;
                    @media(max-width:768px){
                        margin-left:20px;
                        margin-right:20px;
                    }    
                    @media(max-width:360px){
                        font-size:14px;
                        margin-left:10px;
                    }
                }
            }
            &:first-child{
                border-right:2px solid $teal-blue;
                @media(max-width:640px){
                    border-right:none;
                }
            }
        }
        @media(max-width:960px){
            width:90%;
        }
        @media(max-width:768px){
            width:100%;
        }
        @media(max-width:640px){
            width:80%;
            margin:20px auto;
            grid-template-columns: 1fr;
        }
        @media(max-width:480px){
            width:100%;
        }
    }
    @media(max-width:640px){
        padding:40px 0;
    }
}